body {
  background-color: #232328;
  color: #f7f9fb;
}

header,
main,
footer {
  /* max-width: 1440px; */
  margin: 0 auto;
  padding: 1rem 2rem;
}

header {
  display: flex;
}

.header-temp {
  width: 30%;
}

.logo-wrap {
  display: flex;
  align-items: center;
  width: 70%;
}

.logo-wrap .logo {
  width: 50px;
  margin-right: 1.2rem;
}

.logo-wrap p {
  font-size: 1.8rem;
  font-weight: bold;
}

main {
  padding-top: 6rem;
}

article.wrapper {
  display: flex;
  justify-items: center;
  margin-bottom: 10rem;
}

article.wrapper .subject {
  font-size: 1.5rem;
  width: 30%;
  padding-right: 50px;
  font-weight: bold;
  display: flex;
  letter-spacing: 0.2rem;
}

article.wrapper .contents {
  width: 70%;
  font-size: 1.5rem;
}

article.wrapper .contents p,
article.wrapper .contents li {
  text-decoration: solid;
}

article.wrapper li {
  display: flex;
  margin-bottom: 1rem;
}

.link {
  font-size: 1.1em;
  font-weight: bold;
  color: #07a0ec;
  position: relative;
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  color: #0088cc;
}

.bold {
  font-weight: bold;
  font-size: 1.01em;
}
.mr-1 {
  margin: 0 1rem 0 0;
}
.ml-1 {
  margin: 0 0 0 1rem;
}
.mt-1 {
  margin: 1rem 0 0 0;
}
.mb-1 {
  margin: 0 0 1rem 0;
}

footer {
  font-size: 0.8rem;
  font-weight: lighter;
}

@media (max-width: 700px) {
  header,
  main,
  footer {
    padding: 1rem;
  }

  main {
    padding-top: 4.6rem;
  }

  .header-temp {
    display: none;
  }

  .logo-wrap {
    width: 100%;
  }

  .logo-wrap .logo {
    width: 35px;
    margin-right: 0.8rem;
  }

  .logo-wrap p {
    font-size: 1.2rem;
  }

  article.wrapper {
    display: block;
    margin-bottom: 6rem;
  }

  article.wrapper .subject {
    width: 100%;
    padding-right: 0;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }

  article.wrapper .contents {
    width: 100%;
    font-size: 1rem;
  }

  .coming-soon {
    display: block;
  }
}

a#gototop {
  position: fixed;
  bottom: 6vh;
  right: 5vw;
  z-index: 999999;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(169, 239, 241, 0.432);
  backdrop-filter: blur(4px);
  background-image: url(https://icongr.am/clarity/arrow.svg?size=30&color=6b6b6b);
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
}

a#gototop.show {
  opacity: 1;
  visibility: visible;
}
