body {
  background-color: #232328;
  color: #f7f9fb;
}

header,
main,
footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

main {
  padding-top: 6rem;
}

article.wrapper {
  display: flex;
  justify-items: center;
  margin-bottom: 10rem;
}

article.wrapper .subject {
  font-size: 2.2rem;
  min-width: 500px;
  padding-right: 2rem;
  font-weight: bold;
}
article.wrapper .mobile {
  display: none;
}

article.wrapper .contents {
  max-width: 700px;
  padding-top: 0.5rem;
}

article.wrapper li {
  display: flex;
  margin-bottom: 1rem;
}

a.link {
  font-size: 1.2rem;
  font-weight: bold;
  color: #07a0ec;
}

.bold {
  font-weight: bold;
  font-size: 1.1rem;
}
.mr-1 {
  margin: 0 1rem 0 0;
}
.ml-1 {
  margin: 0 0 0 1rem;
}
.mt-1 {
  margin: 1rem 0 0 0;
}
.mb-1 {
  margin: 0 0 1rem 0;
}

footer {
  font-size: 0.8rem;
  font-weight: lighter;
}

@media (max-width: 700px) {
  header,
  main,
  footer {
    padding: 1rem;
  }

  main {
    padding-top: 4.6rem;
  }

  article.wrapper {
    display: block;
    /* margin-bottom: 8rem; */
  }

  article.wrapper .subject {
    font-size: 1.7rem;
    min-width: auto;
    padding-right: 0;
    margin-bottom: 1rem;
  }

  article.wrapper .mobile {
    display: block;
    line-height: 1;
  }

  article.wrapper .mobile p:last-child {
    line-height: 1.5;
  }

  article.wrapper .pc {
    display: none;
  }
}
