body {
  background-color: #232328;
  color: #f7f9fb;
}

header,
main,
footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

header {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.logo {
  width: 35px;
  margin-right: 0.4rem;
}

main {
  padding-top: 6rem;
}

article.wrapper {
  display: flex;
  justify-items: center;
  margin-bottom: 10rem;
}

article.wrapper .subject {
  font-size: 2.2rem;
  min-width: 700px;
  padding-right: 2rem;
  font-weight: bold;
  display: flex;
  letter-spacing: 0.2rem;
}

article.wrapper .grants {
  display: block;
}

article.wrapper .grants p:nth-child(2) {
  line-height: 0.5;
}

article.wrapper .contents {
  max-width: 700px;
  min-width: 700px;
  padding-top: 0.5rem;
  text-decoration: solid;
}

article.wrapper li {
  display: flex;
  margin-bottom: 1rem;
}

a.link {
  font-size: 1.2rem;
  text-decoration: solid;
  font-weight: bold;
  color: #07a0ec;
  position: relative;
}

.coming-soon:after {
  content: 'Coming Soon...';
  position: absolute;
  bottom: -70%;
  left: 0%;
  z-index: 99;
  font-size: 0.6rem;
  color: #f7f9fb;
  background-color: rgba(248, 250, 252, 0.1);
  cursor: auto;
}

.bold {
  font-weight: bold;
  font-size: 1.05rem;
}
.mr-1 {
  margin: 0 1rem 0 0;
}
.ml-1 {
  margin: 0 0 0 1rem;
}
.mt-1 {
  margin: 1rem 0 0 0;
}
.mb-1 {
  margin: 0 0 1rem 0;
}

footer {
  font-size: 0.8rem;
  font-weight: lighter;
}

@media (max-width: 700px) {
  header,
  main,
  footer {
    padding: 1rem;
  }

  main {
    padding-top: 4.6rem;
  }

  article.wrapper {
    display: block;
  }

  article.wrapper .subject {
    font-size: 1.7rem;
    min-width: auto;
    padding-right: 0;
    margin-bottom: 1rem;
  }

  article.wrapper .contents {
    min-width: auto;
  }

  .coming-soon {
    display: block;
  }
}

a#gototop {
  position: fixed;
  bottom: 6vh;
  right: 5vw;
  z-index: 999999;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(169, 239, 241, 0.432);
  backdrop-filter: blur(4px);
  background-image: url(https://icongr.am/clarity/arrow.svg?size=30&color=6b6b6b);
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
}

a#gototop.show {
  opacity: 1;
  visibility: visible;
}
